!/examples/nlbeam/data/NLBeam.mat
dop853_temp/
radau5_temp/
__pycache__/
*.vtu
data/
*.png
*.pdf
*.tex
driver/
meshes/
plots/
*.pyc
*.pkl
*.npz
!/examples/nlbeam/data/*.mat
!/examples/pnlss/data/
docs/_build/
*.mat
